:root {
  --light-color: #eaebed; /*Anti-flash white*/
  --accent-color: #a3bac3; /* Cadet grey */
  --fore-color: #01a7c2; /* Moonstone */
  --dark-color: #223843; /* Gunmetal */
  --card-color: #fff;
  --link-color: #1166ff;
  --spacer-color: #1166ff;
  --form-color: #11aaff;
}
a {
  text-decoration: underline;
  color: var(--dark-color);
  text-shadow: var(--light-color) 1px 1px 3px ;
}
body {
  background-color: var(--light-color);
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}
h1 {
  font-size: 2em;
  color: var(--dark-color);
  text-shadow: var(--light-color) 1px 1px 3px ;
}
hr {
  border: 0;
  height: 1px;

  background: #fff;
  background-image: linear-gradient(to right, #ffffff, #1166ff, #ffffff);
}
label {
  font-size: 0.7em;
  font-weight: bold;
  padding: 0px;
}
.error {
  font-size: 0.75em;
  margin-bottom: -5px;
}
.site-card {
  background-color: var(--card-color);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 1em;
}
.site-container {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}


/* Animations */
/* slide-in, fade */
.fade-enter-active, .fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.slide-in {
  opacity: 0;
  transform: translate(50%);
  animation: slide-in 0.5s ease-in-out forwards;
}
@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-out {
  opacity: 1;
  transform: translate(0);
  animation: slide-out 0.5s ease-out forwards;
}
@keyframes slide-out {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(50%);
  }
}

.fadeOut {
  opacity: 1;
  animation: fade 0.5s ease-out forwards;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fade {
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@media (max-width: 768px) {
  .site-container {
    width: 100%;
    height: 100vh;
  }
}
